{% extends 'base.html' %}
{% load static %}

{% block title %}
    Django Blog - Last Posts
{% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <div class="post-preview">
        {% for post in object_list %}
            <a href="{{post.get_absolute_url}}">        
                <h2 class="post-title">{{post.titulo}}</h2>
                <h4 class="post-subtitle">{{post.subtitulo}}</h4>
            </a>
            <p class="post-meta">
                Postado por
                <a href="#!">{{post.autor}}</a>
                {{post.publicacao}}
            </p>
            <!-- Divider-->
            <hr class="my-4" /> 
        {% endfor %}
    </div>
{% endblock content %}