{% extends 'base.html' %}

{% block title %}
    Django Blog - Last Posts
{% endblock title %}

{% block content %}
    <div class="post-preview">
        {% for post in object_list %}
            <a href="{{post.get_absolute_url}}">        
                <h2 class="post-title">{{post.titulo}}</h2>
                <h4 class="post-subtitle">{{post.subtitulo}}</h4>
            </a>
            <p class="post-meta">
                Postado por
                <a href="#!">{{post.autor}}</a>
                {{post.publicacao}}
            </p>
            <!-- Divider-->
            <hr class="my-4" /> 
        {% endfor %}
    </div>
{% endblock content %}